<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Paste</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href='{{ url_for('static', filename='css/font-awesome.min.css') }}'>
  <link rel="stylesheet" href='{{ url_for('static', filename='css/select2.min.css') }}'>
  <link rel="stylesheet" href='{{ url_for('static', filename='css/style.css') }}'>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>

  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('index') }}"><div class="logo">Paste</div></a>
    </nav>
  </header>
  <article>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class='flashes'>
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message|safe }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block container %}{% endblock %}
  </article>
  <footer>
    <div class="center">
       © 2017 NextFloor
    </div>
  </footer>
</body>
</html>
