{% extends 'base.html' %}
{% block container %}
  <form method="post">
    {{ form.csrf_token }}
    {{ form.resource }}
    <h3>새 페이스트</h3>
    <div class="source-container">
      {{ form.source(class='source', autofocus='autofocus', spellcheck='false', placeholder='텍스트 입력 혹은 파일 드래그') }}
      <div class="source-upload-overlay" style="display: none;">
        <div class="source-upload-overlay-text">
          <i class="fa fa-cloud-upload fa-5x source-upload-overlay-icon" aria-hidden="true"></i>
          <div id="source-upload-overlay-status">놓아서 업로드</div>
        </div>
      </div>
    </div>
    <h4>설정</h4>
    <div class="options">
      <div class="col-50">
        <div class="option-container">
          {{ form.highlighting(class='form-field') }}
        </div>
      </div>
      <div class="col-50">
        <div class="option-container">
          {{ form.expiration(class='form-field') }}
        </div>
      </div>
      <div class="col-80">
        <div class="option-container">
          {{ form.title(class='form-field', placeholder=form.title.label.text, maxlength=64) }}
        </div>
      </div>
      <div class="col-20">
        <div class="option-container">
          {{ form.password(class='form-field', placeholder=form.password.label.text) }}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <button type="submit" class="form-submit" id="submit-button">만들기</button>
  </form>
  <script type="text/javascript">
    var bucketName = '{{ js.bucket_name }}';
    var bucketRegion = '{{ js.bucket_region }}';
    var identityPoolId = '{{ js.identity_pool_id }}';
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
