{% extends 'base.html' %}
{% block head %}
  <style type="text/css">
    {{ styles }}
  </style>
{% endblock %}
{% block container %}
  <div class="password center">
    <h4>비밀번호가 걸려 있는 페이스트입니다</h4>
    <div class="col-50 center">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.password(class='form-field', autofocus='autofocus', placeholder=form.password.label.text) }}
        <button type="submit" class="form-submit">확인</button>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}
