{% extends 'base.html' %}
{% block head %}
  <style type="text/css">
    {{ styles }}
  </style>
{% endblock %}
{% block container %}
  <div class="paste">
    <div class="paste-header">
      {% if paste.password %}
        <i class="fa fa-lock" aria-hidden="true"></i>
      {% endif %}
      <span title="{{ paste.title }}">{{ paste.title or '제목 없음' }}</span>
      <div class="paste-tag">
        <i class="fa fa-code" aria-hidden="true"></i>
        {% if paste.is_resource %}
          File only
        {% else %}
          {{ lexer.name }}
        {% endif %}
      </div>
      <div class="paste-tag">
        <i class="fa fa-eye" aria-hidden="true"></i>
        조회수 {{ paste.view_count }}
      </div>
      <div class="paste-tag">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        {% if paste.expire_at %}
          <span title="{{ paste.expire_at }}">{{ paste.expire_at|humanize }} 파기</span>
        {% else %}
          파기 안 함
        {% endif %}
      </div>
      <div class="paste-tag">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        <span title="{{ paste.created_at }}">{{ paste.created_at|humanize }} 생성</span>
      </div>
    </div>
    <div class="paste-body">
      {% if paste.is_resource %}
        <div class="paste-download">
          <form method="post" action="{{ url_for('view_raw', slug=paste.slug) }}" target="_self">
            <input type="hidden" name="p" value="{{ password }}">
            <button><i class="fa fa-cloud-download" aria-hidden="true"></i> 파일 다운로드</button>
          </form>
        </div>
      {% else %}
        <div class="paste-actions">
          <div id="paste-action-copy" class="paste-action" title="클립보드에 복사" data-clipboard-target="#source">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </div>
          {% if not paste.password %}
            <a href="{{ url_for('view_raw', slug=paste.slug) }}" target="_blank">
              <div class="paste-action" title="원본 데이터 보기">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </div>
            </a>
          {% endif %}
        </div>
        <div class="paste-highlight">
          {{ highlighted_source|safe }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="paste-url">
    <label for="url">주소</label>
    <input id="url" type="text" readonly="readonly" value="{{ url_for('view', slug=paste.slug, _external=True) }}">
  </div>
    <div class="paste-source">
      <label for="source">{% if paste.is_resource %}다운로드 명령{% else %}원본 데이터{% endif %}</label>
      <textarea id="source" class="source" spellcheck="false" readonly="readonly">
      {%- if paste.is_resource -%}
        curl -LOJ {{ url_for('view_raw', slug=paste.slug, _external=True) }} {% if paste.password %}-d p={{ password }}{% endif %}
      {%- else -%}
        {{ paste.source }}
      {%- endif -%}
      </textarea>
    </div>

  <script type="text/javascript">
    var clipboard = new Clipboard('#paste-action-copy');
    clipboard.on('success', function(e) {
        e.clearSelection();
        var $fa = $(e.trigger).children('i.fa');
        $fa.removeClass('fa-clipboard');
        $fa.addClass('fa-check');

        setTimeout(function() {
            $fa.removeClass('fa-check');
            $fa.addClass('fa-clipboard');
        }, 1500);
    });

    $('#url, #source').on('focus', function() {
        $(this).select();
    });

    $(window).on('hashchange', function() {
        $('span[id*="line-"]').removeClass('line-highlighted');

        var line = window.location.hash.substr(1);
        if (/^line-\d+$/.test(line)) {
            console.log(line);
            var $line = $('#' + line);
            $line.addClass('line-highlighted');
        }
    });

    $(window).trigger('hashchange');
  </script>
{% endblock %}
